@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%;
    padding: 0%;
}

* {
    box-sizing: border-box;
}

:root {
    --pri-color: #74C69D;
    --pri-font: 'Crimson Text';
    --sec-font: 'Work Sans';
}

/* Section 1 Styling  */
#services-sec1 {
    width: 100%;
    height: fit-content;
    padding: 2% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-sec1-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.services-sec1-header {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.services-sec1-header>span {
    color: var(--pri-color);
    font-family: var(--sec-font);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 20px;
    text-transform: uppercase;
}

.services-sec1-header>h3 {
    font-size: 2.5rem;
    font-family: var(--pri-font);
    line-height: 50px;
    font-weight: 700;
    margin: 0%
}

.services-sec1-header>p {
    font-size: 1.3rem;
    font-family: var(--sec-font);
    font-weight: 400;
    line-height: 35px;
    width: 80%;
    text-align: center;
    margin: 0%
}

/* Services Plans Styling  */
.services-plans {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0%;
}

/* Plan Content Box  */
/* Plans Details  */
.plans-details {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 28%;
    padding: 3% 2%;
    border-radius: 10px;
}

.plan-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Plan Header  */
.plan-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.plan-header>h5 {
    margin: 0%;
    font-size: 1rem;
    font-family: var(--sec-font);
    font-weight: 700;
    line-height: 20px;
}

.plan-header>h2 {
    margin: 0%;
    font-size: 3.1rem;
    font-family: var(--sec-font);
    line-height: 50px;
    font-weight: 700;
    text-align: center;
}

.plan-header>h2>span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
}

.plan-header>p {
    width: 90%;
    margin: 0%;
    color: #21252980;
    font-size: 1rem;
    font-family: var(--sec-font);
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}


/* Plans Startups  */
.plan-starttups {
    width: 100%;
}

/* Plans outlook  */
.plan-starttups>.plan-outlook {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

}

.plan-outlook>.tick-icon {
    color: var(--pri-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.plan-outlook>p {
    font-size: 1.1rem;
    font-family: var(--sec-font);
    font-weight: 500;
    line-height: 20px;
}


/* Services Page learn More button  */
/* Services Content button  */
.services-content-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-content-button>.services-button{
    padding: 15px 35px;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    font-family: var(--sec-font);
    font-weight:700;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}